* {
    padding: 0;
    margin: 0;
    user-select: none;
    touch-action: none;
}
html,
body {
    background-image:linear-gradient(indigo,indianred);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0 20px 0
}
h1 {
    font-family: 'Berkshire Swash', cursive;
    color: white;
    font-weight:bolder;
    letter-spacing: 2px;
    font-size: 60px;
    margin-bottom: -10px;
}
p,
label {
    font-family: 'Readex Pro', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: white;
}
header > p {
    margin: 0;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 100%;
}
#search-tool {
    background-image: linear-gradient(white, 90%, gray);
    width: inherit;
    height: 40px;
    font-family: 'Readex Pro', sans-serif;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1px;
    color: indigo;
    outline: none;
    border: none;
    border-radius: 5px;
    text-indent: 10px;
    margin-bottom: 30px;
}
#search-tool::placeholder {
    font-weight: bold;
    color: lightslategray;
}
ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: inherit;
}
li {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 60px;
    height: 90px;
    white-space: nowrap;
}
.icons > svg {
    fill: white;
    height: 60px;
    width: 60px;
    cursor: pointer;
}
.icons label {
    display: flex;
    flex-direction: column;
    line-height: 20px;
    justify-self: flex-start;
    visibility: hidden;
}
.icons:hover label {
    visibility: visible;
}
footer {
    background-color: transparent;
    position: relative;
    height: auto;
    margin-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    /*
    display: flex;
    background-color: transparent;
    position: fixed;
    height: auto;
    margin-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
    bottom: 0;
    */
}
footer > p {
    position: relative;
    font-family: 'Readex Pro', sans-serif;
    font-weight: 300;
    font-size: 14px;
    width: calc(100% - 20px);
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    color: white;
}
footer > p > a {
    text-decoration: none;
    color: white;
}
.mirror-horizontal {
    display: inline-block;
    transform: scale(-1, 1);
}

.display-none {
    display: none;
}

@media (max-width:799px) {
    main {
        width: 720px;
    }
}
@media (max-width:719px) {
    main {
        width: 560px;
    }
}
@media (max-width:559px) {
    main {
        width: 480px;
    }
}
@media (max-width:479px) {
    main {
        width: 400px;
    }
}
@media (max-width:399px) {
    main {
        width: 320px;
    }
}
@media (max-width:319px) {
    main {
        width: 240px;
    }
}