* {
    padding: 0;
    margin: 0;
    user-select: none;
    touch-action: none;
}
html,
body {
    background-image:linear-gradient(indigo,indianred);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0 20px 0
}
h1 {
    font-family: 'Berkshire Swash', cursive;
    color: white;
    font-weight:bolder;
    letter-spacing: 2px;
    font-size: 60px;
    margin-bottom: -10px;
}
p,
label {
    font-family: 'Readex Pro', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: white;
}
header > p {
    margin: 0;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 800px;
}
li {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60px;
    white-space: nowrap;
}
.icons > svg {
    fill: white;
    height: 60px;
    width: 60px;
    cursor: pointer;
}
.icons label {
    visibility: hidden;
}
.icons:hover label {
    visibility: visible;
}
footer {
    display: flex;
    background-color: transparent;
    position: fixed;
    height: auto;
    margin-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
    bottom: 0;
}
footer > p {
    position: relative;
    font-family: 'Readex Pro', sans-serif;
    font-weight: 300;
    font-size: 14px;
    width: calc(100% - 20px);
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    color: white;
}
footer > p > a {
    text-decoration: none;
    color: white;
}
#copyleft {
    display: inline-block;
    transform: rotate(180deg);
}

.display-none {
    display: none;
}

@media (max-width:799px) {
    ul{
        max-width: 720px;
    }
}
@media (max-width:719px) {
    ul{
        max-width: 560px;
    }
}
@media (max-width:559px) {
    ul{
        max-width: 480px;
    }
}
@media (max-width:479px) {
    ul{
        max-width: 400px;
    }
}
@media (max-width:399px) {
    ul{
        max-width: 320px;
    }
}
@media (max-width:319px) {
    ul{
        max-width: 240px;
    }
}